@model CcAcca.BaseLibrary.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Line1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Line4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Line4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
