@model CcAcca.Library.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
    </dl>
    <table class="table">
        <tr>
            <th>
                Address
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].IsDefaultDeliveryAddress)
            </th>
        </tr>
        
        @for (int i = 0; i < Model.Addresses.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Addresses[i].Address.Line1) @Html.DisplayFor(modelItem => Model.Addresses[i].Address.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Addresses[i].IsDefaultDeliveryAddress)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
